.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.fl{float: left;}
.fr{float: right;}
/* 宽度 */
.w45{width: 45%;}
.w55{width: 55%;}
.w100{width: 100%;}

/* 高度 */
.h100{height: 100%;}
.mh100{ min-height: 100%; }

/* 白色背景 */
.bgW{ background: #fff; }

.pr{position: relative;}
.pf{ position: fixed; }
.pa{ position: absolute; }

/* margin */
.mt6{ margin-top: 6px; }
.mb6{ margin-bottom: 6px; }
/* margin */

/*  */
.text-nowrap{
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* 头部 */
.header-left-img{
	width: 34px;
	height: 34px;
	margin-top: 5px;
	background-image: url(~@/assets/default-user.jpg);
	background-position: center;
	background-size: 100% 100%;
	border-radius: 50%;
}
.header-icon{
	font-size: 1rem;
	line-height: 44px;
}
.header-icon+.header-icon{
	font-size: 1rem;
	line-height: 44px;
	margin-left: 1.5rem;
}
.main .content-animate{
	transform: translate3d(75%, 0px, 0px) scale(0.8);
}
.main .content-animate{
	transform: translate3d(75%, 0px, 0px) scale(0.8);
}

/*分割线*/
.seperator {
    background-color: #F0F0F2;
    width: 100%;
    height: .5em;
}
/* 分割线 */

/* 波浪动画 */
@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: -1px;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    /*background-image: linear-gradient(to top, #03070A 0%, #384F6F 100%);*/
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgTop>div{
	background-image: url(~@/./assets/wave-top.png);
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgMiddle>div{
	background-image: url(~@/./assets/wave-mid.png);
}
.bgBottom {
    z-index: 5;
}
.bgBottom>div{
	background-image: url(~@/./assets/wave-bot.png);
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 60%;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 50%;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 40%;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}
/*波浪特效结束*/

/* tab页面动画 */
@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.side-enter-active{
  -webkit-animation: slideInRight 1s;
  animation: slideInRight 1s;
}
.side-enter{
  -webkit-animation: slideInLeft 1s;
  animation: slideInLeft 1s;
}
/* tab页面动画结束 */